# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress


# ######################################################################
# # CROSS-ORIGIN                                                       #
# ######################################################################

# ----------------------------------------------------------------------
# | Cross-origin requests                                              |
# ----------------------------------------------------------------------

# Allow cross-origin requests.

 https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS
 http://enable-cors.org/
 http://www.w3.org/TR/cors/

 <IfModule mod_headers.c>
     Header set Access-Control-Allow-Origin "*"
 </IfModule>