.site-header {
  background:url(images/sky.png) no-repeat top center;
  background-size:cover;
  position: relative;
  height:100vh;
  width: 100%;

  @include bp(small-tablet) {
    height:90vh;
  }

	.header-top {
      @include container(1260px);
      padding: 15px;
      position:relative;
      z-index: 2;

      @include bp(tablet) {
        padding: 0 20px;
      }

      @include bp(desktop) {
        padding: 0 80px;
      }
	}

	.logo {
		@include span(9 of 12);

      @include bp(phablet) {
        @include span(6 of 12);
      }

		@include bp(small-tablet) {
          @include span(5 of 12);
		}

      @include bp(large-tablet) {
        @include span(8 of 12);
      }

      @include bp(small-desktop) {
        padding-top: 30px;
      }

      @include bp(desktop) {
        @include span(5 of 12);
        padding-top: 30px;
      }
		svg {
          @include bp(large-tablet) {
            width: 380px;
          }
			path {
				fill: $white;
			}
		}
	}

	.main-navigation {
      display: none;

      @include bp(desktop) {
        padding-top: 50px;
        display: block;
        @include span(6 of 12);
      }
	}


	.fa {
		color: $white;
		line-height: 2;
		padding: 0 10px;
	}

	.date {
		font-size: 20px;
		color: #FFF;
		text-align: center;
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		width: 100%;
		top: 30%;

      @include bp(small-tablet) {
        top: 30%;
      }

		@include bp(large-tablet) {
			font-size: 32px;
			color: darken( $white, 5%);
			text-align:center;
			position: absolute;
			left: 50%;
			transform: translate(-50%);
			top: 30%;
		}
	}

	h2.description {
		font-family: $headings-lt;
		color: $white;
		font-size: 30px;
		line-height: 1.2;
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%);
		width: 90%;
		text-align:center;
		z-index:5;

      @include bp(small-tablet) {
        top: 40%;
        width:50%;
      }

		@include bp(large-tablet) {
			top: 40%;
			font-size: 55px;
			letter-spacing: 1px;
			line-height: 1;
          width:70%;
		}

		.word1,
		.word2,
		.word3 {

			@include bp(large-tablet) {
				letter-spacing: 3px;
			}
		}

		.word3 {
			&:after {

				@include bp(large-tablet) {
					content: '';
					display: table;
				}
			}
		}

		.word5 {
			&:after {
				@include bp(large-tablet) {
					content: '';
					display: table;
				}
			}
		}

	}
  .mountains {
    background: url(images/mountains.png) no-repeat top center;
    background-size:cover;
    height:100vh;
    width:100%;
    position:absolute;
    top:0;

    @include bp(small-tablet) {
      height:90vh;
    }
  }
}

#page-header {
	.branding {
		position: relative;
		z-index: 10;
	}
	.main-navigation {
		a {
			@include bp(large-tablet) {
				color: $black;
			}
		}
	}
  a.registration-link {
    color: white;
  }
	.dark {
		a {
			color: $white;
			@include bp(large-tablet) {
				color: $black;
			}
		}
	}
	.menu-toggle {
		color: $black;
	}
}

#page-header-sticky-wrapper.is-sticky {
  #page-header {
    max-width: 100% !important;
  .inner {
    @include container(1260px);
  }
  }
}

#masthead {
	.social-media {
      display: none;
      margin: 0;
      padding: 0;


      @include bp(small-desktop) {
        display: block;
        @include span(4 of 12 offset 8);
        padding-top: 30px;
      }

		@include bp(desktop) {
          padding-top: 50px;
          @include span(1 of 12 last);
			display: block;

		}
		li {
			list-style: none;
			float: left;
			display: inline-block;
		}
	}
}
.main {
	@include container(1260px);
  padding: 0 70px;
}