.site-header {
	background: url(assets/img/sky.png) no-repeat top center;
	background-size: cover;
	height: 90vh;
	width: 100%;
	position: relative;
	margin-bottom: 60px;

	.header-top {
		@include cf();
		width: 90%;
		margin: 0 auto;
		position: relative;
		z-index: 50;

		@include bp(small-tablet) {
			width: 60%;
		}
	}

	.logo {
		width: 200px;
		position: absolute;
		top: 10px;
		left: 0;
		//transform: translateX(-50%);

		@include bp(phablet) {
			left: 100px;
		}

		@include bp(large-tablet) {
			width: 243px;
			display: inline-block;
			left: 0;
			padding-top: 30px;
			position: relative;
			transform: none;
		}
		svg {
			path {
				fill: $white;
			}
		}
	}

	.main-navigation {
		width: 50%;
		float: right;
		padding-top: 40px;


	}

	.menu-toggle {
		position: absolute;
		top: 0;
		right: 0;
	}

	.fa {
		color: $white;
		line-height: 2;
		padding: 0 10px;
	}

	.mountains {
		background: url(assets/img/mountains.png) no-repeat top center;
		background-size: cover;
		height: 90vh;
		width: 100%;
		position: absolute;
		top: 0;
		z-index: 1;
	}

	h2.description {
		font-family: $headings-lt;
		color: $white;
		letter-spacing: 1px;
		text-align: center;
		margin-top: 220px;

		@include bp(large-tablet) {
			font-size: 40px;
			line-height: 1.2;
			letter-spacing: 1px;
			position: absolute;
			bottom: 35%;
			left: 50%;
			transform: translateX(-50%);
		}

		.word1,
		.word2,
		.word3 {
			letter-spacing: 3px;
		}

		.word3 {
			&:after {

				@include bp(large-tablet) {
					content: '';
					display: table;
				}
			}
		}

		.word5 {
			&:after {
				@include bp(large-tablet) {
					content: '';
					display: table;
				}
			}
		}

	}
}

.main {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

nav {
	.menu {
		display: inline-block;
		float: right;
	}
}

#page-header {
	.branding {
		position: relative;
		z-index: 10;
	}
	.main-navigation {
		.registration-link {
			top: 0;
		}
	}
	.main-navigation {
		a {
			@include bp(large-tablet) {
				color: $black;
			}
		}
	}
	.dark {
		a {
			color: $white;
			@include bp(large-tablet) {
				color: $black;
			}
		}
	}
	.menu-toggle {
		color: $black;
	}
}