.day-header {
	padding: 20px 0;
	@include cf();

	.day-header-date {
		width: 100%;

	}


	.day-header-date {
		h3 {
			font-family: $headings-b;
			margin: 0;
			font-size: 24px;
		}
	}
}

.time-header {
	background: $lt-grayish-yellow;
	@include cf();
	margin-bottom: 10px;
	h3 {
		padding: 0;
		margin: 0;
		text-transform: capitalize;
	}
	.time-header-time {
		display: inline-block;
		padding: 20px 0 20px 35px;
	}
  .time-header-title {
    display: inline-block;
    padding: 20px 0;
  }

	.time-header-time {
		width: 35%;
		float: left;
	}
	.time-header-title {
		width: 65%;
		float: right;
	}
}

.single-session {
	@include cf();
	position: relative;
	width: 100%;
	.headshot {
		width: 20%;
		float: left;
		display: inline-block;
		padding: 0 10px;

	  @include bp(max) {
		width: 50%;
		padding-bottom: 10px;
	  }
	}

	.time {
		float: left;
		display: inline-block;
		width: 15%;
		padding: 40px 20px 20px 0;
		text-align: center;

	  @include bp(max) {
		width: 50%;
	  }
	}
  .location {
    margin: 0 0 15px 20%;
  }

	.title {
		font-family: $font-main;
		font-size: 18px;
		padding-right: 60px;
	  @include bp(max) {
		text-align: center;
		padding: 0 20px;
	  }
	}

	a {
		color: $black;
		text-decoration: none;
		line-height: 1.6;

		.speaker {
			font-family: $font-main-bold;
			padding: 10px 0 0 0;
			line-height: 1.6;
			text-decoration: none;

		  @include bp(max) {
			text-align: center;
		  }
		}
	}

	.fa {
		position: absolute;
		color: $persian-green;
		right: 20px;
		top: 20px;

	  @include bp(max) {
		display: none;
	  }
	}

}

.day-one,
.day-two,
.day-three {
	border-bottom: 3px double darken($lt-grayish-yellow, 5%);

	.single-session {
		background: $lt-grayish-yellow;
		margin-bottom: 10px;

		&:last-of-type {
			margin-bottom: 2px;
		}
	}
}

.single-session.discussion {
  padding: 20px 0;
  .time {
    padding-top: 20px;
  }
  .location {
    margin: 0 0 15px 35%;
    padding: 15px 0 0 0;
  }
  .title,
  .speaker {
    margin-left: 35%;
  }
  .speaker {
    padding: 0;
  }
}