h1 {
	a {
		text-decoration: none;
	}
}

h2 {
	a {
		text-decoration: none;
	}
}

.post-edit-link {
	font-size: 10px;
	text-decoration: none;

}

article {
	margin-bottom: 90px;

	.featured-image {
		float: right;
		margin: 0 0 30px 30px;
	}

	footer {
		padding-bottom: 30px;
	}
}