.latest-news {
  @include cf();

  h2 {
	margin-bottom: 60px;
  }
  h3 {
	font-size: 28px;
	margin-bottom: 20px;
	a {
	  text-decoration: none;
	}
  }
  .featured-image {
	width: 20%;
	float: left;

	@include bp(max) {
	  width: 100%;
	  margin-bottom: 20px;
	  padding: 0 20px;
	}

	img {
	  width: 150px;
	  height: auto;
	}
  }
  .excerpt {
	width: 75%;
	float: right;
	 p {
	   margin-bottom: 0;
	 }
	@include bp(max) {
	  width: 100%;
	}
  }
  a.read-more-button {
	padding: 5px;
	background: $persian-green;
	color: $white;
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
  }
}
h1,
h1.entry-title {
	font-family: $headings-lt;
	font-size: 30px;
	margin-bottom: 20px;
	a {
		font-size: 30px;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

h2 {
	a {
		font-size: 28px;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

.post-edit-link {
	font-size: 10px;
	text-decoration: none;

}

article {
	margin-bottom: 90px;
	padding: 0 15px;
	min-height: 400px;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: $headings-lt;
		margin-bottom: 20px;
		line-height: 1.2;
	}

	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 20px;
	}
	h5 {
		font-size: 18px;
	}
	h6 {
		font-size: 16px;
		font-style: italic;
	}


	.featured-image {
		float: right;
		margin: 0 0 30px 30px;
	}

	p {
		font-family: $font-main;
		line-height: 1.8;
		margin-bottom: 20px;
	}

	li {
		margin-bottom: 10px;
	}

	footer {
		padding-bottom: 30px;
	}
}

.sticky-wrapper {
	margin-bottom: 30px;
}
.remodal {
  a.session-slides {
    text-transform: uppercase;
    color: $persian-green !important;
    text-align: left;

    &:after {
      content: '\f08e';
      font-family: 'fontawesome';
      margin-left: 5px;
    }
  }
}

a.session-slides {
  text-transform: uppercase;
  color: $persian-green !important;
  text-align: left;

  &:after {
    content: '\f08e';
    font-family: 'fontawesome';
    margin-left: 5px;
  }
}