h1,
h1.entry-title {
	font-family: $headings-lt;
	font-size: 30px;
	margin-bottom: 20px;
	a {
		font-size: 30px;
		margin-bottom: 20px;
		text-decoration: none;
	}
}

h2 {
	a {
		font-size: 28px;
	margin-bottom: 20px;
		text-decoration: none;
	}
}

.post-edit-link {
	font-size: 10px;
	text-decoration: none;

}

article {
	margin-bottom: 90px;
	padding: 0 15px;

	.featured-image {
		float: right;
		margin: 0 0 30px 30px;
	}

	footer {
		padding-bottom: 30px;
	}
}

.page-header {

}